<section class="case">
  <h2 class="visually-hidden">Design events near your</h2>
  <div class="case__inner">
    <div class="case__cursor">
      <span>show event</span>
      <svg>
        <use xlink:href="img/sprite.svg#arrow-right"></use>
      </svg>
    </div>
    <div class="swiper case__slider">
      <button class="btn-reset case__prev swiper-button-prev">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <button class="btn-reset case__next swiper-button-next">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <div class="swiper-wrapper case__wrapper">
        <div class="swiper-slide case__slide">
          <article class="case__article case-item">
            <div class="case-item__image-block">
              <img class="case-item__image" src="img/bootcamp.jpg" alt="bootcamp">
              <a class="case-item__view-link" href="#">view case</a>
            </div>
            <div class="case-item__content">
              <div class="case-item__descr">
                <h3 class="case-item__title">Bootcamp</h3>
                <p class="case-item__text">Happy Father’s Day</p>
              </div>
              <ul class="list-reset case-item__tags">
                <li class="case-item__tag">Design Thinking</li>
                <li class="case-item__tag">Festival</li>
                <li class="case-item__tag">Bootcamp</li>
              </ul>
            </div>
          </article>
        </div>
        <div class="swiper-slide case__slide">
          <article class="case__article case-item">
            <div class="case-item__image-block">
              <img class="case-item__image" src="img/horse.jpg" alt="horse">
              <a class="case-item__view-link" href="#">view case</a>
            </div>
            <div class="case-item__content">
              <div class="case-item__descr">
                <h3 class="case-item__title">Design Thinking</h3>
                <p class="case-item__text">Wild Horse Event</p>
              </div>
              <ul class="list-reset case-item__tags">
                <li class="case-item__tag">Design Thinking</li>
                <li class="case-item__tag">Festival</li>
                <li class="case-item__tag">Bootcamp</li>
              </ul>
            </div>
          </article>
        </div>
        <div class="swiper-slide case__slide">
          <article class="case__article case-item">
            <div class="case-item__image-block">
              <img class="case-item__image" src="img/festival.jpg" alt="vestival">
              <a class="case-item__view-link" href="#">view case</a>
            </div>
            <div class="case-item__content">
              <div class="case-item__descr">
                <h3 class="case-item__title">Music & Colors</h3>
                <p class="case-item__text">Festival</p>
              </div>
              <ul class="list-reset case-item__tags">
                <li class="case-item__tag">Design Thinking</li>
                <li class="case-item__tag">Festival</li>
                <li class="case-item__tag">Bootcamp</li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination case__pagination">
  </div>
</section>
