<header class="header" data-aos="fade-in" data-aos-duration="1500">
  <div class="container header__container">
    <div class="header__logo logo">
      <img class="logo__img" width="77" height="35" src="img/logo.svg" alt="focus reactive logo">
    </div>
    <nav class="header__nav nav" title="main navigation" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item nav__item--submenu">
          <a href="#" class="nav__link">Solutions</a>
          <svg>
            <use xlink:href="img/sprite.svg#triangle"></use>
          </svg>
          <ul class="list-reset nav__sub-list">
            <li class="nav__sub-item">
              <a class="nav__sub-link" href="#">Solutions</a>
            </li>
            <li class="nav__sub-item">
              <a class="nav__sub-link" href="#">Solutions</a>
            </li>
            <li class="nav__sub-item">
              <a class="nav__sub-link" href="#">Solutions</a>
            </li>
            <li class="nav__sub-item">
              <a class="nav__sub-link" href="#">Solutions</a>
            </li>
            <li class="nav__sub-item">
              <a class="nav__sub-link" href="#">Solutions</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Stack</a>
        </li>
        <li class="nav__item nav__item--submenu">
          <a href="#" class="nav__link">Portfolio</a>
          <svg>
            <use xlink:href="img/sprite.svg#triangle"></use>
          </svg>
          <ul class="list-reset nav__sub-list">
            <li class="nav__sub-item">
              <a class="nav__sub-link" href="#">Portfolio</a>
            </li>
            <li class="nav__sub-item">
              <a class="nav__sub-link" href="#">Portfolio</a>
            </li>
            <li class="nav__sub-item">
              <a class="nav__sub-link" href="#">Portfolio</a>
            </li>
            <li class="nav__sub-item">
              <a class="nav__sub-link" href="#">Portfolio</a>
            </li>
            <li class="nav__sub-item">
              <a class="nav__sub-link" href="#">Portfolio</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">About</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Careers</a>
        </li>
      </ul>
    </nav>
    <div class="header__buttons">
      <a class="header__btn btn" href="#">Contact Us</a>
      <button class="btn-reset burger" aria-label="Open menu burger" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
