<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title title-hero">
      <span class="title-hero__text title-hero__text--gear" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="300">
        Creative
        <img class="title-hero__img" src="img/gear.png" width="130" height="130" aria-hidden="true" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="1800" alt="">
      </span>
      <span class="title-hero__text title-hero__text--accent" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="600">
        <img class="title-hero__img" src="img/switch.png" width="130" height="130" aria-hidden="true" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="1800" alt="">
        Branding
      </span>
      <span class="title-hero__text title-hero__text--btn" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="900">
        Studio
        <span class="title-hero__anim" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="1800">
          <a class="title-hero__btn btn" href="#">Get a proposal</a>
        </span>
      </span>
    </h1>
    <div class="hero__content" data-aos="fade-in" data-aos-duration="1500">
      <img class="hero__rating" width="148" height="40" src="img/logo-1.svg" alt="Clutch rating">
      <p class="hero__text">
        Crafting intuitive and striking interfaces for growing brands.
      </p>
      <ul class="list-reset hero__social social">
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">vk</a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">fb</a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">i</a>
        </li>
      </ul>
    </div>
  </div>
</section>
