<section class="numbers">
  <h2 class="visually-hidden">Performance Analytics</h2>
  <div class="container numbers__container">
    <div class="numbers__row">
      <div class="numbers__item item-numbers" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor=".item-numbers--anim">
        <div class="item-numbers__number">4.2%</div>
        <div class="item-numbers__text">Conversion<br>Rate</div>
      </div>
      <div class="numbers__item item-numbers" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" data-aos-anchor=".item-numbers--anim">
        <div class="item-numbers__number">1100$</div>
        <div class="item-numbers__text">Customer<br>Lifetime Value</div>
      </div>
      <div class="numbers__item item-numbers item-numbers--anim" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
        <div class="item-numbers__number">100</div>
        <div class="item-numbers__text">Website<br>Performance Score</div>
      </div>
    </div>
  </div>
</section>
