<section class="provide">
  <div class="container provide__container">
    <span class="provide__subtitle">Future-ready</span>
    <div class="provide__block provide-block">
      <h2 class="provide-block__title">
        <span class="provide-block__text">
          Blending creativity
            <span class="provide-block__bubble-anim" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor=".provide-block__bubble--build">
            <span class="btn provide-block__bubble provide-block__bubble--dream">
              <svg>
                <use xlink:href="img/sprite.svg#dreambig"></use>
              </svg>
              <span class="provide-block__bubble-text">Dream visual</span>
            </span>
          </span>
        </span>
        <span class="provide-block__text">
          and functionality
            <span class="provide-block__bubble-anim" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor=".provide-block__bubble--build" data-aos-delay="400">
            <span class="btn provide-block__bubble provide-block__bubble--build">
              <svg>
                <use xlink:href="img/sprite.svg#buildfast"></use>
              </svg>
              <span class="provide-block__bubble-text">build smooth</span>
            </span>
          </span>
        </span>
        <span class="provide-block__text">
          in every design
            <span class="provide-block__bubble-anim" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="800">
            <span class="btn provide-block__bubble provide-block__bubble--grow">
              <svg>
                <use xlink:href="img/sprite.svg#growfar"></use>
              </svg>
              <span class="provide-block__bubble-text">scale sleek</span>
            </span>
          </span>
        </span>
      </h2>
    </div>
  </div>
</section>
